<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />

    <application
        android:allowBackup="false"
        android:label="Jacktor Panel"
        android:theme="@style/Theme.JacktorPanel">
        <activity
            android:name="com.jacktor.panel.ui.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
