@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #00CFFF;
  background-color: #080B0E;
}

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  color: inherit;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: rgba(0, 207, 255, 0.4);
  border-radius: 9999px;
}
